# 导入外部数据

绝对引用:`df = pd.read_excel('C:/Users/86198/code/git_store/Python数据分析/datapool/期末考试安排（商学院）.xlsx')`        
在当前目录下引用子目录数据文件:`df = pd.read_excel(r'./datapool/期末考试安排（商学院）.xlsx')`

In [6]:
import pandas as pd

df = pd.read_excel('C:/Users/86198/code/git_store/Python数据分析/datapool/期末考试安排（商学院）.xlsx')

In [8]:
df = pd.read_excel('./datapool/期末考试安排（商学院）.xlsx')
df

,商学院2020-2021-2学期期末考试安排表(提前）,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,考试时间,课程,班级,人数,考试试室,监考员1
1,5月10日晚上7:30-9:30,宏观经济学,18酒店,34,4-301,王亚新
2,NaN,NaN,18物流,26,NaN,NaN
3,NaN,NaN,18工商,35,4-302,黄飞

## 指定传入的表格

当excel文件有多个表格时，可以用sheet_name参数指定相应的表格，仅需要将表格的名字传入给sheet_name，还可以传入数字0、1、2指定相应表格，表格按顺序排列   

`df = pd.read_excel(r'./datapool/期末考试安排（商学院）.xlsx', sheet_name = '专业课')`  
`df = pd.read_excel(r'./datapool/期末考试安排（商学院）.xlsx', sheet_name = 2)`

## 指定行索引
index_col默认从0开始，可以通过指定index_col的值来指定列做为行索引

`df = pd.read_excel(r'./datapool/期末考试安排（商学院）.xlsx', index_col = 0)`

In [9]:
df = pd.read_excel('./datapool/期末考试安排（商学院）.xlsx', index_col = 0)
df

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
商学院2020-2021-2学期期末考试安排表(提前）,,,,,
考试时间,课程,班级,人数,考试试室,监考员1
5月10日晚上7:30-9:30,宏观经济学,18酒店,34,4-301,王亚新
NaN,NaN,18物流,26,NaN,NaN
NaN,NaN,18工商,35,4-302,黄飞

## 指定列索引  
将本地文件导入DataFrame中，**默认使用源数据表的第一行做为列索引**  
因为header参数值默认为0，即用第一行做为列索引  
可以通过header参数来设置列索引  

`df = pd.read_excel(r'datapool/期末考试安排（商学院）.xlsx', header = 1)`

In [14]:
df = pd.read_excel(r'datapool/期末考试安排（商学院）.xlsx', header = 1)
df

               考试时间     课程    班级  人数   考试试室 监考员1
0  5月10日晚上7:30-9:30  宏观经济学  18酒店  34  4-301  王亚新
1               NaN    NaN  18物流  26    NaN  NaN
2               NaN    NaN  18工商  35  4-302   黄飞

还可以指定header为**None**,当header为None时，去掉源数据表格的第一行所有数据，但是保留位置，值从0开始

In [13]:
df = pd.read_excel(r'datapool/期末考试安排（商学院）.xlsx', header = None)
df

                             0      1     2    3      4     5
0  商学院2020-2021-2学期期末考试安排表(提前）    NaN   NaN  NaN    NaN   NaN
1                         考试时间     课程    班级   人数   考试试室  监考员1
2             5月10日晚上7:30-9:30  宏观经济学  18酒店   34  4-301   王亚新
3                          NaN    NaN  18物流   26    NaN   NaN
4                          NaN    NaN  18工商   35  4-302    黄飞

## 指定导入的列
通过指定usecols的参数来指定要导入的列 
usecols指定的参数是一个列表，不能只单纯指定一个列，需要指定两个列以上，用一个列表包裹    

`df = pd.read_excel(r'datapool/期末考试安排（商学院）.xlsx', usecols=[0,1,2,3,4,5])`

In [17]:
df = pd.read_excel(r'datapool/期末考试安排（商学院）.xlsx', usecols=[0,1,2,3,4])
df

  商学院2020-2021-2学期期末考试安排表(提前） Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0                        考试时间         课程         班级         人数       考试试室
1            5月10日晚上7:30-9:30      宏观经济学       18酒店         34      4-301
2                         NaN        NaN       18物流         26        NaN
3                         NaN        NaN       18工商         35      4-302

# 熟悉数据

## 利用head()方法查看前几行数据  
head()默认显示前五行

In [3]:
import pandas as pd
df = pd.read_excel(r'./datapool/岭南师范学院第二针.xls')
df.head(5)

,序号,地市,县区,接种单位,姓名,性别,出生日期,工作单位,人群分类,第一剂时间,第一剂厂家,第二剂时间,第二剂厂家
0,1,湛江市,赤坎区,湛江中心人民医院岭师流动点,李吉那,女,1997-05-03,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
1,2,湛江市,赤坎区,湛江中心人民医院岭师流动点,曹熹,女,2001-06-07,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
2,3,湛江市,赤坎区,湛江中心人民医院岭师流动点,苏国昊,男,1998-03-13,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
3,4,湛江市,赤坎区,湛江中心人民医院岭师流动点,柯宝怡,女,2001-08-09,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
4,5,湛江市,赤坎区,湛江中心人民医院岭师流动点,陈心妍,女,2002-05-28,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN

## 利用shape属性获取数据表的大小

In [6]:
df.shape

(261, 13)

## 利用info()获取数据类型
可以用来查找哪一列缺失值了

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   序号      261 non-null    int64
 1   地市      261 non-null    object
 2   县区      261 non-null    object
 3   接种单位    261 non-null    object
 4   姓名      261 non-null    object
 5   性别      261 non-null    object
 6   出生日期    261 non-null    object
 7   工作单位    259 non-null    object
 8   人群分类    261 non-null    object
 9   第一剂时间   261 non-null    object
 10  第一剂厂家   261 non-null    object
 11  第二剂时间   0 non-null      float64
 12  第二剂厂家   0 non-null      float64
dtypes: float64(2), int64(1), object(10)
memory usage: 26.6+ KB

## 利用describe()获取数值分布情况

In [9]:
df.describe()

              序号  第二剂时间  第二剂厂家
count  261.00000    0.0    0.0
mean   131.00000    NaN    NaN
std     75.48841    NaN    NaN
min      1.00000    NaN    NaN
25%     66.00000    NaN    NaN
50%    131.00000    NaN    NaN
75%    196.00000    NaN    NaN
max    261.00000    NaN    NaN

## 利用isnull()方法来判断哪个值是缺失值

In [10]:
df.isnull()

,序号,地市,县区,接种单位,姓名,性别,出生日期,工作单位,人群分类,第一剂时间,第一剂厂家,第二剂时间,第二剂厂家
0,False,False,False,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,False,False,False,False,False,False,False,False,False,False,False,True,True
257,False,False,False,False,False,False,False,False,False,False,False,True,True
258,False,False,False,False,False,False,False,False,False,False,False,True,True
259,False,False,False,False,False,False,False,False,False,False,False,True,True
260,False,False,False,False,False,False,False,False,False,False,False,True,True