# 数据选择

## 列选择

### 选择某一列、某几列

* 普通索引
在df后面的方括号指明要选择的列名，如果一列，只需要传入一个列名  
同时选择多列，则传入多个列名  
> 这里需要注意传入的参数问题  
> `df['性别']`  &  `df[['姓名','性别']]` & `df.loc[:,['姓名','性别']]`

* 位置索引
在df后面的iloc方法指明指定具体列的位置，即第几列，对数据进行选取，通过传入位置来获取数据  
> `df.iloc[:,[0,2]]`

In [14]:
df.loc[:,['性别','姓名']].head()

  性别   姓名
0  女  李吉那
1  女   曹熹
2  男  苏国昊
3  女  柯宝怡
4  女  陈心妍

In [11]:
import pandas as pd

df = pd.read_excel('./datapool/岭南师范学院第二针.xls')
df[['姓名','性别']].head()

    姓名 性别
0  李吉那  女
1   曹熹  女
2  苏国昊  男
3  柯宝怡  女
4  陈心妍  女

### 选择连续某几列
选择连续的某几列：用到iloc方法，只要传入这些连续列的位置区间即可

> `df.iloc[:,0:5]`  
> 这里需要注意，列索引包含0列，不包含第五列，行从第一行开始算起，不包括索引列

In [9]:
df.iloc[:,[4,7]]

      姓名    工作单位
0    李吉那  岭南师范学院
1     曹熹  岭南师范学院
2    苏国昊  岭南师范学院
3    柯宝怡  岭南师范学院
4    陈心妍  岭南师范学院
..   ...     ...
256  巫观萍  岭南师范学院
257  潘昌龙  岭南师范学院
258  赖家南  岭南师范学院
259  方逸夫  岭南师范学院
260  蔡思琦  岭南师范学院

[261 rows x 2 columns]

In [16]:
df.iloc[:,0:6].head()

   序号   地市   县区           接种单位   姓名 性别
0   1  湛江市  赤坎区  湛江中心人民医院岭师流动点  李吉那  女
1   2  湛江市  赤坎区  湛江中心人民医院岭师流动点   曹熹  女
2   3  湛江市  赤坎区  湛江中心人民医院岭师流动点  苏国昊  男
3   4  湛江市  赤坎区  湛江中心人民医院岭师流动点  柯宝怡  女
4   5  湛江市  赤坎区  湛江中心人民医院岭师流动点  陈心妍  女

##  行选择

### 选择某一行/某几行

* 普通索引  
即传入具体**索引的名称**，用到loc方法  
选择一行  `df.loc[25]`  
选择多行  `df.loc[[1,2,3]]`  
* 位置索引  
即传入**具体的行数**，用到iloc方法  
选择一行，`df.iloc[0]`  
选择多行，`df.iloc[[0,1]]`

In [17]:
df.loc[25]

序号                  26
地市                 湛江市
县区                 赤坎区
接种单位     湛江中心人民医院岭师流动点
姓名                 韩林镧
性别                   女
出生日期        1998-12-17
工作单位            岭南师范学院
人群分类          高等教育院校学生
第一剂时间       2021-03-29
第一剂厂家             北京生物
第二剂时间              NaN
第二剂厂家              NaN
Name: 25, dtype: object

In [20]:
df.loc[[0,25,50]]

,序号,地市,县区,接种单位,姓名,性别,出生日期,工作单位,人群分类,第一剂时间,第一剂厂家,第二剂时间,第二剂厂家
0,1,湛江市,赤坎区,湛江中心人民医院岭师流动点,李吉那,女,1997-05-03,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
25,26,湛江市,赤坎区,湛江中心人民医院岭师流动点,韩林镧,女,1998-12-17,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
50,51,湛江市,赤坎区,湛江中心人民医院岭师流动点,李明陆,男,2000-05-22,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN

In [22]:
df.iloc[[0,25,50]]

,序号,地市,县区,接种单位,姓名,性别,出生日期,工作单位,人群分类,第一剂时间,第一剂厂家,第二剂时间,第二剂厂家
0,1,湛江市,赤坎区,湛江中心人民医院岭师流动点,李吉那,女,1997-05-03,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
25,26,湛江市,赤坎区,湛江中心人民医院岭师流动点,韩林镧,女,1998-12-17,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
50,51,湛江市,赤坎区,湛江中心人民医院岭师流动点,李明陆,男,2000-05-22,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN

### 连续选择某几行

使用iloc的方法，把连续行的位置用一个区间表示    
`df.iloc[0:5]`

In [15]:
df.iloc[0:5]

,序号,地市,县区,接种单位,姓名,性别,出生日期,工作单位,人群分类,第一剂时间,第一剂厂家,第二剂时间,第二剂厂家
0,1,湛江市,赤坎区,湛江中心人民医院岭师流动点,李吉那,女,1997-05-03,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
1,2,湛江市,赤坎区,湛江中心人民医院岭师流动点,曹熹,女,2001-06-07,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
2,3,湛江市,赤坎区,湛江中心人民医院岭师流动点,苏国昊,男,1998-03-13,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
3,4,湛江市,赤坎区,湛江中心人民医院岭师流动点,柯宝怡,女,2001-08-09,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
4,5,湛江市,赤坎区,湛江中心人民医院岭师流动点,陈心妍,女,2002-05-28,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN

###  选择满足条件的行
直接在表名后面指明哪列要满足什么条件  
`df[df['第一剂时间'] == '2021-03-29']`  
也可以指定多个条件进行过滤  
每个条件用一个圆括号括起来，然后用操作符进行连接，完成想要达到的操作

In [16]:
df[(df["第一剂时间"] == '2021-03-29') | (df['第一剂时间'] == '2021-04-01')].head()

,序号,地市,县区,接种单位,姓名,性别,出生日期,工作单位,人群分类,第一剂时间,第一剂厂家,第二剂时间,第二剂厂家
0,1,湛江市,赤坎区,湛江中心人民医院岭师流动点,李吉那,女,1997-05-03,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
1,2,湛江市,赤坎区,湛江中心人民医院岭师流动点,曹熹,女,2001-06-07,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
2,3,湛江市,赤坎区,湛江中心人民医院岭师流动点,苏国昊,男,1998-03-13,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
3,4,湛江市,赤坎区,湛江中心人民医院岭师流动点,柯宝怡,女,2001-08-09,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN
4,5,湛江市,赤坎区,湛江中心人民医院岭师流动点,陈心妍,女,2002-05-28,岭南师范学院,高等教育院校学生,2021-03-29,北京生物,NaN,NaN

In [17]:
ii = '1996-12-31'
df[(df['出生日期'] < ii) & (df['性别'] == '男')]

,序号,地市,县区,接种单位,姓名,性别,出生日期,工作单位,人群分类,第一剂时间,第一剂厂家,第二剂时间,第二剂厂家
91,92,湛江市,赤坎区,湛江中心人民医院岭师流动点,朱习文,男,1977-04-15,岭南师范学院,教育工作者,2021-04-01,北京科兴中维,NaN,NaN
104,105,湛江市,赤坎区,湛江中心人民医院岭师流动点,莫志心,男,1996-12-12,岭南师范学院,高等教育院校学生,2021-04-01,北京科兴中维,NaN,NaN
139,140,湛江市,赤坎区,湛江中心人民医院岭师流动点,钟东亮,男,1994-08-25,岭南师范学院,高等教育院校学生,2021-04-01,北京科兴中维,NaN,NaN
153,154,湛江市,赤坎区,湛江中心人民医院岭师流动点,葛在波,男,1973-12-27,岭南师范学院,教育工作者,2021-04-01,北京科兴中维,NaN,NaN

## 行列同时选择

###  普通索引+普通索引选择指定的行和列

使用loc方法，同时传入行和列的**具体的索引名称**进行数据选择

In [18]:
df.loc[[1,25,50],['姓名','出生日期','第一剂时间']]

     姓名        出生日期       第一剂时间
1    曹熹  2001-06-07  2021-03-29
25  韩林镧  1998-12-17  2021-03-29
50  李明陆  2000-05-22  2021-03-29

###  位置索引+位置索引选择指定的行和列

使用iloc方法，**传入行、列索引的位置**来获取数据

In [69]:
df.iloc[[1,25,50],[4,6,9]]

     姓名        出生日期       第一剂时间
1    曹熹  2001-06-07  2021-03-29
25  韩林镧  1998-12-17  2021-03-29
50  李明陆  2000-05-22  2021-03-29

### 布尔索引+普通索引选择指定的行和列
先对表格进行布尔索引选择行，然后通过普通索引选择列  
其实先对表格进行布尔索引会得到一个DataFrame类型的表格，其值全为满足条件的True     
然后在对这个表格进行普通索引，所谓普通索引就是指定表格的列命，在前面的基础上继续得到一个新的表格  
> 这里需要注意的地方跟之前的一样，得到的一个DataFramel类型的表格，想得到里面的多个列  
> 要注意需要两个括号`df[['姓名'],['出生日期']]`

In [21]:
h = '1997-12-31'
df[(df['出生日期'] < h)][['姓名', '出生日期']].head()

     姓名        出生日期
0   李吉那  1997-05-03
20  邓笑笑  1996-09-27
40  张晶晶  1997-12-02
52  朱韦羽  1997-07-14
54  朱毅宏  1997-09-11

###  切片索引+切片索引选择指定的行和列
切片索引+切片索引是通过同时传入行、列索引的位置区间进行数据选择

In [76]:
df.iloc[[1,25,50],[1,4,9]]

     地市   姓名       第一剂时间
1   湛江市   曹熹  2021-03-29
25  湛江市  韩林镧  2021-03-29
50  湛江市  李明陆  2021-03-29